In [300]:
import os
import numpy as np
import pandas as pd

In [301]:
os.getcwd()

'\\\\data.cnc.domain\\Users\\cjimenez\\My Documents\\GitHub\\database-project'

In [309]:
os.chdir('./1_data/BCRD/')

In [302]:
data = pd.read_excel('BCRD/imae.xlsx', skiprows = 9, skipfooter = 1, header = None)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,Enero,93.962898,NaN,NaN,NaN,95.680673,NaN,NaN,NaN,NaN,96.450847,NaN,NaN,NaN,NaN
1,NaN,Febrero,96.945709,NaN,NaN,NaN,97.181429,NaN,NaN,NaN,NaN,96.744171,NaN,NaN,NaN,NaN
2,NaN,Marzo,101.344367,NaN,NaN,NaN,98.106931,NaN,NaN,NaN,NaN,97.250537,NaN,NaN,NaN,NaN
3,NaN,Abril,95.749101,NaN,NaN,NaN,92.113872,NaN,NaN,NaN,NaN,97.862694,NaN,NaN,NaN,NaN
4,NaN,Mayo,103.456807,NaN,NaN,NaN,102.130244,NaN,NaN,NaN,NaN,98.677198,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,NaN,Noviembre,204.873418,13.106821,12.450296,11.156368,196.207575,3.244548,12.799664,12.498246,11.210525,192.430421,0.627915,9.608746,11.691229,10.664998
193,NaN,Diciembre,212.336248,10.578344,12.271990,12.271990,195.784864,-0.215441,10.147594,12.290806,12.290806,193.581165,0.598005,8.873388,11.443851,11.443851
194,Promedio 2021,NaN,188.613445,12.271990,12.271990,12.271990,188.478351,NaN,12.290806,12.290806,12.290806,188.092260,NaN,11.443851,11.443851,11.443851
195,2022,Enero,187.031045,6.330184,6.330184,13.000234,191.563917,-2.155911,6.259600,6.259600,13.040166,194.562694,0.507038,7.943600,7.943600,11.802438
196,NaN,Febrero,196.064701,5.781402,6.048613,13.413969,194.822514,1.701049,5.363557,5.805903,13.464014,195.553166,0.509076,7.001121,7.469098,11.701745

In [303]:
data = data[~(data[0].str.contains('Promedio') | data[0].isnull())]

In [304]:
start_year = 2007

n_years = data.shape[0] // 12
years = np.array(list(range(start_year, start_year + n_years)))
years = np.repeat(years, [12], axis = 0)
last_year = np.repeat(2007 + n_years, month_last_year, axis = 0)
years = np.concatenate([years, last_year])

month_last_year = data.shape[0] % 12 # calculates how many months are available for last year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'Octuber', 'November', 'December']
months = np.tile(months, [n_years + 1])[:data.shape[0]]

In [305]:
col_idx_arr = list(zip(['serie_original', 'serie_original', 'serie_original', 'serie_original', 'serie_desestacionalizada', 'serie_desestacionalizada', 'serie_desestacionalizada', 'serie_desestacionalizada', 'serie_desestacionalizada', 'serie_tendencia_ciclo', 'serie_tendencia_ciclo', 'serie_tendencia_ciclo', 'serie_tendencia_ciclo', 'serie_tendencia_ciclo'],
                  ['indice', 'interanual', 'acumulada', 'prom_12_meses', 'indice', 'versus_periodo_anterior', 'interanual', 'acumulada', 'prom_12_meses', 'indice', 'versus_periodo_anterior', 'interanual', 'acumulada', 'prom_12_meses']))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)

In [306]:
row_idx_arr = list(zip(years, months))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)
row_idx

MultiIndex([(2007,   'January'),
            (2007,  'February'),
            (2007,     'March'),
            (2007,     'April'),
            (2007,       'May'),
            (2007,      'June'),
            (2007,      'July'),
            (2007,    'August'),
            (2007, 'September'),
            (2007,   'Octuber'),
            ...
            (2021,       'May'),
            (2021,      'June'),
            (2021,      'July'),
            (2021,    'August'),
            (2021, 'September'),
            (2021,   'Octuber'),
            (2021,  'November'),
            (2021,  'December'),
            (2022,   'January'),
            (2022,  'February')],
           length=182)

In [307]:
data.index = row_idx
data = data.loc[:, 2:]
data.columns = col_idx

In [308]:
data

              serie_original                                      \
                      indice interanual  acumulada prom_12_meses
2007 January       93.962898        NaN        NaN           NaN
     February      96.945709        NaN        NaN           NaN
     March        101.344367        NaN        NaN           NaN
     April         95.749101        NaN        NaN           NaN
     May          103.456807        NaN        NaN           NaN
...                      ...        ...        ...           ...
2021 Octuber      192.052552   9.686432  12.377909      9.629179
     November     204.873418  13.106821  12.450296     11.156368
     December     212.336248  10.578344  12.271990     12.271990
2022 January      187.031045   6.330184   6.330184     13.000234
     February     196.064701   5.781402   6.048613     13.413969

              serie_desestacionalizada                                     \
                                indice versus_periodo_anterior interanual
2007 January                 95.680673                     NaN        NaN
     February                97.181429                     NaN        NaN
     March                   98.106931                     NaN        NaN
     April                   92.113872                     NaN        NaN
     May                    102.130244                     NaN        NaN
...                                ...                     ...        ...
2021 Octuber                190.041584                0.319673   9.562231
     November               196.207575                3.244548  12.799664
     December               195.784864               -0.215441  10.147594
2022 January                191.563917               -2.155911   6.259600
     February               194.822514                1.701049   5.363557

                                       serie_tendencia_ciclo  \
               acumulada prom_12_meses                indice
2007 January         NaN           NaN             96.450847
     February        NaN           NaN             96.744171
     March           NaN           NaN             97.250537
     April           NaN           NaN             97.862694
     May             NaN           NaN             98.677198
...                  ...           ...                   ...
2021 Octuber   12.466709      9.706233            191.229662
     November  12.498246     11.210525            192.430421
     December  12.290806     12.290806            193.581165
2022 January    6.259600     13.040166            194.562694
     February   5.805903     13.464014            195.553166


              versus_periodo_anterior interanual  acumulada prom_12_meses
2007 January                      NaN        NaN        NaN           NaN
     February                     NaN        NaN        NaN           NaN
     March                        NaN        NaN        NaN           NaN
     April                        NaN        NaN        NaN           NaN
     May                          NaN        NaN        NaN           NaN
...                               ...        ...        ...           ...
2021 Octuber                 0.518227  10.401011  11.909896      9.568500
     November                0.627915   9.608746  11.691229     10.664998
     December                0.598005   8.873388  11.443851     11.443851
2022 January                 0.507038   7.943600   7.943600     11.802438
     February                0.509076   7.001121   7.469098     11.701745

[182 rows x 14 columns]

In [310]:
data.iloc[:, 0].to_csv('serie_original_indice_volumen_encadenados.csv')
data.iloc[:, 1].to_csv('serie_original_variacion_interanual.csv')
data.iloc[:, 2].to_csv('serie_original_variacion_acumulada.csv')
data.iloc[:, 3].to_csv('serie_original_prom_12_meses.csv')

data.iloc[:, 4].to_csv('serie_desestacionalizada_indice_volumen_encadenados.csv')
data.iloc[:, 5].to_csv('serie_desestacionalizada_versus_periodo_anterior.csv')
data.iloc[:, 6].to_csv('serie_desestacionalizada_variacion_interanual.csv')
data.iloc[:, 7].to_csv('serie_desestacionalizada_variacion_acumulada.csv')
data.iloc[:, 8].to_csv('serie_desestacionalizada_prom_12_meses.csv')

data.iloc[:, 9].to_csv('serie_tendencia_ciclo_indice_volumen_encadenados.csv')
data.iloc[:, 10].to_csv('serie_tendencia_ciclo_versus_periodo_anterior.csv')
data.iloc[:, 11].to_csv('serie_tendencia_ciclo_variacion_interanual.csv')
data.iloc[:, 12].to_csv('serie_tendencia_ciclo_variacion_acumulada.csv')
data.iloc[:, 13].to_csv('serie_tendencia_ciclo_prom_12_meses.csv')